//variables
$maxWidth: 980px;

//mixins
@mixin flex-it($type, $justify) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $type;
  flex-direction: $type;
  -webkit-align-items: $justify;
  align-items: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

.container {
  @include flex-it(row, center);
  /* background-color: red; */
  max-width: $maxWidth;
  margin: auto;
  padding-top: 100px;
}

.tabs {

  .state {
    display: none;
  }

  .flexi-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    .tab {
      flex-grow: 1;
      max-height: 40px;
      @include border-top-radius(5px);
    }

    .panel {
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: 0;
      display: none;
      flex-basis: auto;
      padding: 20px;
      position: relative;
      top: -1px;
      width: 100%;
    }
  }

  .tab {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    /* border-left: 10px solid #ccc; */

    &:hover {
      background-color: #ccc;
    }
  }

  #tab1:checked ~ .tabs #tab1-label,
  #tab2:checked ~ .tabs #tab2-label,
  #tab3:checked ~ .tabs #tab3-label {
    background-color: #fff;
    cursor: default;
    //border-left-color: #69be28;
  }

  #tab1:checked ~ .tabs #tab1-panel,
  #tab2:checked ~ .tabs #tab2-panel,
  #tab3:checked ~ .tabs #tab3-panel {
    display: block;
  }
}