//variables
$maxWidth: 980px;
$dark-gray: #333;
$gray: #ccc;
$silver: #eee;


//mixins
@mixin flex-it($type, $justify) {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: $type;
  flex-direction: $type;

  -webkit-align-items: $justify;
  align-items: $justify;

  -webkit-justify-content: $justify;
  justify-content: $justify;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;

  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  background-clip: padding-box;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin order($order) {
  -webkit-order: $order;
  order: $order;
}


//styles
body {
  color: $dark-gray;
  margin: 0;
}

.container {
  @include flex-it(row, left);
  @include flex-wrap(wrap);
  margin: auto;
  max-width: $maxWidth;
  padding-top: 100px;

}

label {
  @include border-top-radius(5px);
  background: $silver;
  border: 1px solid $gray;
  cursor: pointer;
  flex-grow: 1;
  margin-left: -1px;
  padding: 10px;
}

label:first-of-type {
  margin-left: 0;
}

div.content {
  @include order(1);
  border: 1px solid $gray;
  border-top: 0;
  margin-top: -1px;
  padding: 15px;
  width: 100%;
}

input[type=radio], div.content {
  display: none;
}

input[type=radio]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}

input[type=radio]:checked + label + div {
  display: block;
}


// mobile phone media query
@media only screen and (max-device-width: 480px) {
  .container {
    flex-direction: column;
  }

  div.content {
    order: 0;
  }
}


//carousel
.images {
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 800px;
}
.mask {
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  -transition:all 1.0s ease-in-out;

  height: 300px;
  overflow: hidden;
  position: absolute;
  width: 2200px;
}

.holder {
  float: left;
}

.controls {
  display: flex;

  a {
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.disabled {
      color: $gray;
      cursor: default;
      pointer-events: none;
    }
  }
}

.pages {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;

  li {
    margin: 0 10px;

    &.active {
      font-weight: bold;
    }
  }
}

